
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

header{
    width: 100%;
    height: 223.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0%;
    background-color: #000;
    
}
.head-wrapper{
    height: 223.5px;
    width: 1500px;
   
}
.logo{
height:92.5px;
width: 900px;
margin: 0 250px 0 250px;
padding: 37px 50px 37px 50px;
}
.menu{
    width: 1400px;
    height: 56px;
    border-top:  1px solid  #2F2F2F;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content{
    width: 100%;
    height: 2186.98px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    width: 1500px;
    height:2004.98px;
    padding:91px 30px 91px 30px ;
    position:absolute;

}
.img-article{
    width: 920px;
    height:680px;
    padding: 0 20px 0 20px;
    position: absolute;
    left: 290px;

}
footer{
    width: 100%;
    height: 110.75px;
    padding: 70px 0 0 0;
}
.ftr-cntnt{
    width: 1500px;
    height: 30.75px;
    margin: 0 712px 0 172px; 
    padding: 40px 50px 40px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;

}
#logo-link{
    font-size: 50px;
    color: #B7B7B7;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    margin-left: 274px;
    letter-spacing: 6.5px;
    transition: color 0.3s ease-in-out;

}
#head-para{
    display: block;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    letter-spacing: 5px;
    color: #999999;
    margin: 0%;
    font-size: 14px;
    line-height: 21px
}
.li-menu{
    list-style: none;
    display: inline;
    margin-right: 40px;
   
}
.menu-link{
    text-decoration: none;
    color: #fff;
    font-family:"Open Sans", sans-serif ;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}
#candy{
    font-size: 48px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    text-align: center;
    color: #fff;
    position: relative;
    top: -40px;

}
#img-1{
    height: 424.797px;
    width: 880px;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    
    
}
.image-1{
    height: 424.797px;
    width: 880px;
}
#h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 30.48px;
    font-family: "Playfair Display", serif;
    color: #FFFFFF;
    margin-left: 230px;


}
.cntnt-para-1,
.cntnt-para-2{
    font-size: 20px;
    font-family:  Roboto, sans-serif;
    color: #7A7A7A;
    /* overflow: visible; */
    position: relative;
    top: 670px;
    left: 162px;
    line-height: 35px;
    padding: 5px;
    display: inline;
}
.cntnt-para-1{
    display: block;
}
.para-link{
    font-size: 20px;
    font-family:  Roboto, sans-serif;
    color:#DB4F3D;
    position: relative;
    top: 670px;
    left: 162px;
    padding: 5px;
    display: inline;
    transition: color 0.3s ease-in-out;
}
.img-2{
    width: 507px;
    height: 300px;
    display: inline-block;
    position: absolute;
left: 360px;
top: 1225px;
}
.img-3{
    width: 550px;
    height: 300px;
    display: inline-block;
    position: absolute;
left: 910px;
top: 1225px;
}
.para{
    font-size: 20px;
    font-family: Roboto, sans-serif;
    color: #7A7A7A;
    position: relative;
    top: 411px;
    line-height: 35px;
    padding: 5px;
    display: block;
    width: 1832px;
    padding-left: 345px;
}
.images{
    width: 880px;
    height: 350px;
    position: absolute;
    top: 1930px;
}
.ftr-link{
    margin: 5px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}
#logo-link:hover{
color: #DB4F3D;
}
.menu-link:hover{
    color: #DB4F3D;
}
.para-link:hover{
    color: #7A7A7A;
    text-decoration: none;
}
.ftr-link:hover{
    color: #DB4F3D;
    text-decoration: underline;
}
#submenu{
     left: 0%; 
     opacity: 0; 
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    background-color: #2F2F2F;
    height: 80px;
    width: 262px;
    padding: 7px 0 7px 0;
    text-align: left;
    line-height: 40px;
    display: block;

}
li:hover ul#submenu{
    opacity: 1;
    top: 210px;
    left: 550px;
    visibility: visible;
}
#submenu li{
    float: none;
    width: 100%;

}
.li-submenu{
    list-style: none;
    text-decoration: none;
    position: relative;
    left: 20px;    
}
.submenu-link{
    text-decoration: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}





